<!--Profile- Profile 1-->
<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row>
    <ion-col col-12>
      <ion-card transparent text-center>
        <ion-item box-shadow transparent text-center *ngIf="data != null"
        background-size [ngStyle]="{'background': 'linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url(' + data.headerImage + ')'}">
          <ion-avatar>
            <img [src]="data.image" alt="">
          </ion-avatar>
          <h1 font-bold item-title style="color:white !important" >{{data.title}}</h1>
          <p text-wrap item-title style="color:white !important">{{data.subtitle}}</p>
        </ion-item>
        <ion-row no-padding margin-top>
          <ion-col>
            <button ion-button button-clear clear no-padding>
              <span small-font font-bold ion-text color="accent">{{data.valueFollowers}}</span>
              <span ion-text text-capitalize color="accent">{{data.followers}}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button button-clear clear no-padding>
              <span small-font font-bold ion-text color="accent">{{data.valueFollowing}}</span>
              <span ion-text text-capitalize color="accent">{{data.following}}</span>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button button-clear clear no-padding>
              <span small-font font-bold ion-text color="accent">{{data.valuePosts}}</span>
              <span ion-text text-capitalize color="accent">{{data.posts}}</span>
            </button>
          </ion-col>
          <!-- Social Button-->
          <ion-col col-12 text-center>
            <button ion-button button-icon icon-only button-icon (click)="onEvent('onFacebook', item, $event)">
             <i icon-small class="icon {{data.iconFacebook}}"></i>
            </button>
            <button ion-button icon-only button-icon (click)="onEvent('onTwitter', item, $event)">
              <i icon-small class="icon {{data.iconTwitter}}"></i>
            </button>
            <button ion-button icon-only button-icon (click)="onEvent('onInstagram', item, $event)">
              <i icon-small class="icon {{data.iconInstagram}}"></i>
            </button>
          </ion-col>
          <!-- Info Author-->
          <ion-col col-12 text-left margin-top box-shadow *ngFor="let item of data.items;let i = index">
            <ion-item transparent>
              <h1 subitem-title ion-text>{{item.title}}</h1>
              <p subitem-subtitle padding-top text-wrap>{{item.subtitle}}</p>
              <h1 padding-top subitem-title >{{item.content}}</h1>
            </ion-item>
            <ion-item no-lines transparent>
              <i icon-small class="icon {{item.iconPhone}}" item-start></i>
              <p no-margin style="white-space: pre-wrap;" subitem-title>{{item.phone}}</p>
            </ion-item>
            <ion-item no-lines transparent>
              <i icon-small class="icon {{item.iconMail}}" item-start></i>
              <p no-margin style="white-space: pre-wrap;" subitem-title>{{item.mail}}</p>
            </ion-item>
            <ion-item no-margin no-lines transparent>
              <i icon-small class="icon {{item.iconGlobe}}" item-start></i>
              <p no-margin style="white-space: pre-wrap;" subitem-title>{{item.globe}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
